{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-7">
        <h1>KORG VOLCA - series ONE</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quae maxime hic esse dolorem, obcaecati ut. Saepe veniam ullam quisquam autem iure asperiores repellendus quia. Quam ut illum dolores harum?</p>
    </div>
    <div class="col-5">
        <img src="assets/img/dog.png" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}