{{> head }}

{{> navbar }}

<div>
    <h1>korg Volca Magazine</h1>
    <h1>{{ capitalizar nombre }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, nam quibusdam error quod atque, impedit dolor eos, odio itaque magnam incidunt tempora id laboriosam quam et voluptate? Voluptates, a commodi.</p>
    <button class=" btn btn-primary">Navegar</button>
</div>

{{> footer }}

